.Lista1 { font-weight: 900; 
    padding: 1px;}

.Lista {display: inline; margin: 90px; color: antiquewhite; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.Cobertura {border: 1px  solid rgb(95, 186, 255); background-color: rgb(73, 79, 136)}

.img1 {margin-top: 20px;}

.items {border: 1px solid black; display: flex block; gap: 50px; margin-top:40px; background-color: rgb(73, 79, 136); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

.item1 {border:1px solid rgb(95, 186, 255);background-color: rgb(254, 255, 255); 
padding: 10px;
margin-block:20px; margin-left:20px;}

.item2 {border:1px solid rgb(95, 186, 255); background-color: white;
padding: 10px;
margin-block:20px; margin-left:0px;}

.item3 {border:1px solid rgb(95, 186, 255); background-color: white;
padding: 10px;
margin-block:20px; margin-left:0px;}

.item4 {border:1px solid rgb(95, 186, 255); background-color: white;
padding: 10px;
margin-block:20px; margin-left:0px;}

.item5 {border:1px solid rgb(95, 186, 255); background-color: white;
padding: 10px;
margin-block:20px; margin-left:0px;}

.item6 {border:1px solid rgb(95, 186, 255); background-color: white;
padding: 10px;
margin-block:20px; margin-right:20px;}


#sugestoes {text-align: center; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 ; margin-top: 65px; text-shadow: 2px, 2px, 5px, rgb(red, rgb(0, 0, 0), rgb(255, 255, 255));} 